{% extends 'base.html' %}

{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover" style="
    max-width: 59em;
    margin-left: auto! important;
    margin-right: auto!important;
    padding: 250px;
    text-align: center!important;
    flex-direction: column!important;
">
    <h1 class="cover-heading">comming soon!</h1>
    <p class="lead">merch will be available as soon as i will be able to.</p>
    
  </main>
  </div>
{% endblock body %}
